
.Search {
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}



.Dropdown {
    height: 30px;
    line-height: 30px;
}

.DropItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Input {

}

.PlaceHolder::placeholder {
  color: white;
}
.PlaceHolder::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius:10px;
  background: red;

}


